/*
  List home events
*/
.events-list {
  padding-top: 10px;
  &__event {
    padding: 20px;
    border-top: 2px solid $black;
    a {
      font-size: 16px;
      font-weight: bold;
      color: $black;
      display: block;
      margin-bottom: 11px;
    }
    &__date {
      background: url('../images/icon-calendar.svg') no-repeat left top;
      line-height: 18px;
      background-size: 14px;
      padding-left: 20px;
      font-weight: bold;
    }
  }
}
/*
  Calendar
*/
.em-calendar {
  width: 100%;
  margin-bottom: 40px;
  tr {
    td {
      width: 64px;
      height: 64px;
      background-color: $light;
      border-right: 1px solid $white;
      border-bottom: 1px solid $white;
      vertical-align: bottom;
      text-align: right;
      font-size: 24px;
      font-weight: bold;
      padding: 10px;
      @include media-breakpoint-down(md) {
        font-size: 16px;
        height: 40px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 14px;
        padding: 5px;
      }
      &:after {
        content: ".";
        margin-left: -5px;
      }
      &.eventful, &.eventful-today {
        padding: 0px;
        a {
          color: $black;
          text-decoration: none;
          display: block;
          padding: 10px;
          position: relative;
          @include media-breakpoint-down(md) {
            padding: 5px;
          }
          &:after {
            content: ".";
            margin-left: 0px;
          }
          &:before {
            position: absolute;
            content: "";
            top: 0px;
            left: 5px;
            width: 10px;
            height: 10px;
            background-color: $pink;
            @include media-breakpoint-down(md) {
              top: 5px;
            }
            @include media-breakpoint-down(md) {
              top: -5px;
            }
          }
        }
        &:after {
          display: none;
        }
      }
      &.eventful-post,
      &.eventless-pre,
      &.eventful-pre,
      &.eventless-post {
        font-size: 0px;
      }

    }
  }
  .days-names {
    td {
      background-color: $white;
      &:after {
        margin-left: 0px;
      }
    }
  }
  thead {
    tr {
      td {
        background-color: $white;
        text-align: center;
        vertical-align: middle;
        padding: 0px;
        height: auto;
        &.month_name {
          font-size: 48px;
          font-weight: bold;
          line-height: 0.83;
          @include media-breakpoint-down(md) {
            font-size: 30px;
          }
        }
        &:after {
          display: none;
        }
        .em-calnav-prev,
        .em-calnav-next {
          font-size: 0px;
          position: relative;
          display: block;
          &:before {
            content: "";
            border: 8px solid transparent;
            border-right: 8px solid $black;
            position: absolute;
            top: 50%;
            left: 0px;
            margin-top: -8px;
          }
        }
        .em-calnav-next {
          &:before {
            right: 0px;
            left: auto;
            border: 8px solid transparent;
            border-left: 8px solid $black;
          }
        }
      }
    }
  }
}
