.doc-list {
  &__document {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background: #fff;
    margin-bottom: 5px;
    &__format {
      width: 60px;
      height: 60px;
      font-weight: bold;
      text-align: center;
      color: $white;
      text-transform: uppercase;
      background-color: $pdf;
      align-items: center;
      display: flex;
      justify-content: center;
      &.png {
        background-color: $png;
      }
      &.jpg {
        background-color: $jpg;
      }
      &.doc {
        background-color: $doc;
      }
      &.gif {
        background-color: $gif;
      }
      &.ppt {
        background-color: $ppt;
      }
    }
    &__name {
      padding-left: 20px;
      flex: 1 1 40%;

    }
    &__tags {
      padding:0px 20px;
      background: url('../images/icon-folder.svg') no-repeat left center;
      line-height: 18px;
      background-size: 14px;
      padding-left: 20px;
      font-size: 14px;
      font-weight: bold;
      flex: 1 1 33%;
      color: $black;
      a {
        color: $black;
      }
    }
    &__link {
      background-color: rgba($black, 0.1);
      width: 60px;
      height: 60px;
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}
