.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  align-items: center;
  &__form {
    display: flex;
    .styled-select {
      width: auto;
      margin-right: 15px;
      margin-bottom: 0px;
      padding-right: 40px;
    }
  }
  &__by {
    font-weight: 300;
    line-height: 24px;
    text-align: right;
    font-size: 24px;
    padding-right: 44px;
    margin-right: 20px;
    background: url('../images/icon-filter.svg') no-repeat right center;
    background-size: 24px;
  }
}

.doc-list {
  &__document {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background: #fff;
    margin-bottom: 5px;
    @include media-breakpoint-down(sm) {
      flex-flow: column;
      margin-bottom: 15px;
    }
    &__format {
      width: 60px;
      height: 60px;
      flex: 0 0 60px;
      font-weight: bold;
      text-align: center;
      color: $white;
      text-transform: uppercase;
      background-color: $pdf;
      align-items: center;
      display: flex;
      justify-content: center;
      @include media-breakpoint-down(sm) {
        width: 100%;
        height: 30px;
        flex: 0 0 100%;
        margin-bottom: 10px;
      }
      &.png {
        background-color: $png;
      }
      &.jpg {
        background-color: $jpg;
      }
      &.doc {
        background-color: $doc;
      }
      &.gif {
        background-color: $gif;
      }
      &.ppt {
        background-color: $ppt;
      }
    }
    &__name {
      padding-left: 20px;
      padding-right: 50px;
      flex: 1 1 40%;
      @include media-breakpoint-down(lg) {
        flex: 1 1 60%;
      }
      @include media-breakpoint-down(sm) {
        flex: 0 0 100%;
        padding: 0px;
        text-align: center;
        margin-bottom: 10px;
      }
    }
    &__tags {
      padding:0px 20px;
      background: url('../images/icon-folder.svg') no-repeat left center;
      line-height: 18px;
      background-size: 16px;
      padding-left: 23px;
      font-size: 14px;
      font-weight: bold;
      flex: 1 1 33%;
      color: $black;
      @include media-breakpoint-down(sm) {
        flex: 0 0 100%;
        padding: 0px;
        text-align: center;
        margin-bottom: 10px;
        background-position: top center;
        padding-top: 20px;
      }
      a {
        color: $black;
      }
    }
    &__date {
      font-size: 14px;
      font-weight: bold;
      line-height: 18px;
      flex: 1 1 20%;
      @include media-breakpoint-down(lg) {
        display: none;
      }
      @include media-breakpoint-down(sm) {
        display: block;
        margin-bottom: 15px;
      }
      svg {
        position: relative;
        margin-right: 3px;
        top: 2px;
      }
    }
    &__link {
      background-color: rgba($black, 0.1);
      width: 60px;
      height: 60px;
      align-items: center;
      display: flex;
      justify-content: center;
      flex: 0 0 60px;
      span {
        display: none;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        flex: 1 1 100%;
        padding: 0px;
        text-align: center;
        display: block;
        line-height: 60px;
      }
    }
  }
  &--extend {
    .doc-list__document {
      margin-bottom: 60px;
      align-items: flex-start;
      &__data {
        border-top: solid 2px $black;
        padding-top: 18px;
        margin: 0px 20px;
        line-height: 1.5;
        flex: 1 1 auto;
      }
      &__title {
        font-size: 18px;
        margin-bottom: 18px;
        font-weight: bold;
        line-height: 1.33;
        color: $black;
      }
      &__metas {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        div {
          font-size: 16px;
          font-weight: bold;
          color: $black;
          margin-right: 20px;
          a {
            color: $black;
          }
        }
      }
      &__archive {}
      &__type {}
      &__date {
        line-height: 1.5;
      }
    }
  }
}
