// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}
/*
  HOME CONTACT FORM
*/
.wpcf7-form {
  p {
    margin: 0px 0px 20px 0px;
  }

  label {
    display: none;
  }
  .wpcf7-form-control-wrap {
    width: 100%;
  }
  .wpcf7-text,
  .wpcf7-textarea {
    width: 100%;
    height: 60px;
    background-color: $white;
    border: solid 5px $black;
    border-radius: 0px;
    webkit-appearance: none;
    padding: 20px;
    color: $black;
    font-size: 16px;
    font-weight: bold;
    &::placeholder {
      color: $black;
    }
  }
  .wpcf7-textarea {
    height: auto;
    &::placeholder {
      color: $black;
    }
  }

  .wpcf7-submit {
    @extend .button;
    float: right;
    border-radius: 0px;
    webkit-appearance: none;
  }
  span.wpcf7-not-valid-tip {
    font-style: italic;
    font-size: 13px;
    text-align: right;
  }
  .wpcf7-response-output {
    border-width: 5px;
    padding: 20px;
    margin: 20px 0px;
  }
}

.styled-select {
  width: 100%;
  height: 60px;
  background-color: $white;
  border: solid 5px $black;
  margin: 0px 0px 20px 0px;
  position: relative;
  overflow: hidden;
  select {
    padding: 15px 20px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    color: $black;
    font-size: 16px;
    font-weight: bold;
    @include media-breakpoint-down(md) {
      max-width: 100%;
      width: 100%;
    }
    &:focus {
      outline: none;
    }
  }
  &:after {
    content: "";
    position: absolute;
    border: 8px solid transparent;
    border-top: 10px solid $black;
    top:50%;
    right: 20px;
    margin-top: -5px;
    z-index: 2;
    pointer-events: none;
  }
  &:before {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    background: $white;
    width: 60px;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }
}
