.info {
  display: flex;
  border-bottom: solid 2px $black;
  padding-bottom: 35px;
  margin-bottom: 50px;
  h2 + & {
    margin-top: 60px;
  }
  svg {
    flex: 0 0 auto;
  }
  &__content {
    padding-left: 30px;
    a {
      color: $black;
      font-weight: bold;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
