// bower:scss
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
* GLOBAL
*/
body {
  padding: 0px;
  margin: 0px;
  background: #F8E435;
  color: #000;
  font-family: Arial, sans-serif;
}

a {
  color: #000;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: 0px auto;
}

.main-title {
  font-size: 60px;
  text-align: center;
  @media (max-width: 1024px) {
    font-size: 30px;
  }
}

.video-wrap {
  height: 0;
  padding-top: 25px;
  padding-bottom: 56.34%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  embed, iframe, object {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

/*
* HEADER
*/
.preheader {
  background-color: #000;
  padding: 20px 0px;
  margin-bottom: 30px;
  @media (max-width: 1024px) {
    padding: 10px 0px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.0;
    color: #fff;
    margin: 0px;
    @media (max-width: 1024px) {
      font-size: 14px;
      margin-bottom: 0px;
    }
  }
  &__logo {
    img {
      max-width: 128px;
      @media (max-width: 1024px) {
        max-width: 80px;
      }
    }
  }
}
.header {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    @media (max-width: 1024px) {
      flex-flow: column;
    }
  }
  &__menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0px;
    padding: 0px;
    @media (max-width: 1024px) {
      flex-flow: column;
      text-align: center;
    }
    &__link {
      display: inline-block;
      padding: 10px 10px;
      font-weight: bold;

    }
  }
  &__dates {
    font-size: 30px;
    margin: 0px 0px 15px 0px;
  }
  &__logo {
    text-align: center;
    display: block;
    margin-bottom: 30px;
  }
}

/*
* CONTENT
*/
.list {
  max-width: 790px;
  list-style: none;
  margin: 0px auto 50px auto;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__foro {
    width: 50px;
    flex: 0 0 50%;
    margin-bottom: 30px;
    @media (max-width: 768px) {
      width: 100%;
      flex: 0 0 100%;
      text-align: center;
    }
    &:nth-child(even) {
      text-align: right;
      @media (max-width: 768px) {
        text-align: center;
      }
    }
    &__name {
      font-size: 20px;
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }
    &__address {
      display: block;
      font-size: 13px;
    }
  }
}

/*
* FOOTER
*/
.footer {
  padding-top: 30px;
  margin-top: 60px;
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.0;
    color: #000000;
    margin: 0px;
    @media (max-width: 768px) {
      font-size: 14px;
      margin-bottom: 0px;
    }
  }
  &__logo {
    img {
      max-width: 128px;
      @media (max-width: 768px) {
        max-width: 80px;
      }
    }
  }
}
.copy {
  background-color: #000;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding:20px 0px;
  margin: 30px 0px 0px 0px;
  .right {
    float: right;
  }
  a {
    font-size: 14px;
    color:  #fff;
    text-decoration: underline;
    position: relative;
    display: inline-block;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
    &.menu-item {
      margin-left: 8px;
      &:before {
        content: ", ";
        text-decoration: none;
        position: absolute;
        left: -9px;
        bottom: -3px;
      }
    }

  }
}
