.preheader {
  background-color: #fff;
  padding: 20px 0px;
  @include media-breakpoint-down(sm) {
    padding: 10px 0px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.0;
    color: #000000;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
      margin-bottom: 0px;
    }
  }
  &__logo {
    img {
      max-width: 128px;
      @include media-breakpoint-down(sm) {
        max-width: 80px;
      }
    }
  }
}

.header {
  margin-bottom: 65px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }
  .container {
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: right center;
    padding: 1px 0px;
    @include media-breakpoint-down(sm) {
      background-image: none !important;
    }
  }
  .custom-logo-link {
    margin: 45px 0px;
    display: block;
    @include media-breakpoint-down(sm) {
      margin: 15px 0px
    }
    img {
      max-height: 107px;
      width: auto;
      max-width: 100%;
      height: auto;
      @include media-breakpoint-down(sm) {
        margin: 0px 5%;
        width: 90%;
      }
    }
  }
}


.nav-primary {
  background-color: $black;
  .blog-name {
    color: $white;
    font-weight: bold;
    flex: 1 0 auto;
    display: block;
    opacity: 0;
    transition: opacity .3s linear;
    @include media-breakpoint-down(md) {
      line-height: 60px;
      opacity: 1;
    }
    &.visible {
      opacity: 1;
    }
  }
  .navbar-toggler-right {
    @include media-breakpoint-down(md) {
      right: 0px;
      padding: 0px;
      border: 0px;
      height: 60px;
      font-size: 30px;
      &:focus {
        outline: 0;
      }
    }
    .navbar-toggler-icon {
      @include media-breakpoint-down(md) {
        color: $white;
        width: auto;
        height: auto;
      }
    }
  }

  .navbar {
    padding: 0px;
    height: 60px;
    .navbar-collapse {
      height: 100%;
      @include media-breakpoint-down(md) {
        height: auto;
        position: relative;
      }
    }
  }
  .navbar-nav {
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include media-breakpoint-down(md) {
      height: auto;
      background-color: $black;
      padding: 15px 0px;
    }
    .menu-item {
      font-weight: bold;
      color: $white;
      margin-left: 30px;
      text-transform: lowercase;
      @include media-breakpoint-down(md) {
        margin-bottom: 10px;
        margin-left: 0px;
      }
      a {
        color: $white;
        &:after {
          content: '.';
        }
      }
      &.search {
        a {
          text-indent: -9999999px;
          background: url('../images/icon-search-small.svg') no-repeat;
          display: block;
          width: 16px;
          height: 16px;
        }
      }
    }
  }
  .search-wrapper {
    display: flex;
    position: absolute;
    right: 0px;
    height: 60px;
    width: 0%;
    overflow: hidden;
    justify-content: flex-end;
    align-items: center;
    background: $black url('../images/icon-search.svg') left center no-repeat;
    transition: width .2s ease-in;
    @include media-breakpoint-down(md) {
      right: 5%;
      bottom: 0px;
      height: 57px;
    }
    .search-form {
      display: flex;
      flex: 1 0 auto;
      margin-left: 30px;
    }
    .search-field {
      background-color: transparent;
      border: 0px;
      color: $white;
    }
    .search-submit {
      display: none;
    }
    .search__close {
      color: $white;
    }
    &.open {
      width: 50%;
      @include media-breakpoint-down(md) {
        width: 90%;
      }
    }
  }
}
