.preheader {
  background-color: #fff;
  padding: 20px 0px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.0;
    color: #000000;
  }
  &__logo {
    img {
      max-width: 128px;
    }
  }
}

.header {
  margin-bottom: 65px;
  .container {
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: right center;
    padding: 1px 0px;
  }
  .custom-logo-link {
    margin: 45px 0px;
    display: block;
    img {
      max-height: 107px;
      width: auto;
    }
  }
}


.nav-primary {
  background-color: $black;
  .blog-name {
    color: $white;
    font-weight: bold;
    flex: 1 0 auto;
    display: block;
    opacity: 0;
    transition: opacity .3s linear;
    &.visible {
      opacity: 1;
    }
  }
  .navbar {
    padding: 0px;
    height: 60px;
    .navbar-collapse {
      height: 100%;
    }
  }
  .navbar-nav {
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .menu-item {
      font-weight: bold;
      color: $white;
      margin-left: 30px;
      text-transform: lowercase;
      a {
        color: $white;
        &:after {
          content: '.';
        }
      }
      &.search {
        a {
          text-indent: -9999999px;
          background: url('../images/icon-search-small.svg') no-repeat;
          display: block;
          width: 16px;
          height: 16px;
        }
      }
    }
  }
  .search-wrapper {
    display: flex;
    position: absolute;
    right: 0px;
    height: 60px;
    width: 0%;
    overflow: hidden;
    justify-content: flex-end;
    align-items: center;
    background: $black url('../images/icon-search.svg') left center no-repeat;
    transition: width .2s ease-in;
    .search-form {
      display: flex;
      flex: 1 0 auto;
      margin-left: 30px;
    }
    .search-field {
      background-color: transparent;
      border: 0px;
      color: $white;
    }
    .search-submit {
      display: none;
    }
    .search__close {
      color: $white;
    }
    &.open {
      width: 50%;
    }
  }
}
