.home .sections:nth-child(odd) {
  background-color: $light;
}
.home .header {
  margin-bottom: 0px;
}
.calendar-home {
  padding: 60px 0px;
  .button-wrapper {
    text-align: right;
  }
}
.documents-home {
  padding:60px 0px;
  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include media-breakpoint-down(sm) {
      flex-flow: column;
      margin-bottom: 30px;
    }
  }
}

.news-home {
  padding: 60px 0px;
  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include media-breakpoint-down(sm) {
      flex-flow: column;
      margin-bottom: 30px;
    }
  }
  .col {
    max-width: 50%;
    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      flex: 0 0 100%;
    }
  }
}

.intro-home {
  padding: 60px 0px;
  font-size: 18px;
  .info {
    display: flex;
    svg {
      flex: 0 0 auto;
    }
    &__content {
      padding-left: 30px;
      a {
        color: $black;
        font-weight: bold;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

}

.contact-home {
  padding: 60px 0px;
  .section-title {
    text-align: center;
  }
}
