.home .sections:nth-child(odd) {
  background-color: $light;
}
.home .header {
  margin-bottom: 0px;
}
.calendar-home {
  padding: 60px 0px;
  .button-wrapper {
    text-align: right;
  }
}
.documents-home {
  padding:60px 0px;
  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include media-breakpoint-down(sm) {
      flex-flow: column;
      margin-bottom: 30px;
    }
  }
}

.news-home {
  padding: 60px 0px;
  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include media-breakpoint-down(sm) {
      flex-flow: column;
      margin-bottom: 30px;
    }
  }
}

.intro-home {
  padding: 60px 0px;
  font-size: 18px;
}

.contact-home {
  padding: 60px 0px;
  .section-title {
    text-align: center;
  }
}
