.calendar-home {
  padding-bottom: 60px;
  .button-wrapper {
    text-align: right;
  }
}
.documents-home {
  background-color: $light;
  padding:60px 0px;
  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include media-breakpoint-down(sm) {
      flex-flow: column;
      margin-bottom: 30px;
    }
  }
}

.news-home {
  padding: 60px 0px;
  &--logros {
    background-color: $light;
    margin-top: -65px;
    margin-bottom: 60px;
  }
  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include media-breakpoint-down(sm) {
      flex-flow: column;
      margin-bottom: 30px;
    }
  }
}

.contact-home {
  background-color: $light;
  padding: 60px 0px;
  .section-title {
    text-align: center;
  }
}
