.post {
  img {
    max-width: 100%;
    height: auto;
  }
  &__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.0;
    color: $black;
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
      font-size: 30px;
    }
    a {
      color: $black;
      text-decoration: none;
    }
  }
  &__meta {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $black;
    padding-bottom: 34px;
    margin-bottom: 39px;
  }
  &__author {
    @extend .events-list__event__date;
    margin: 0px;
    margin-right: auto;
    margin-left: 30px;
    background-image: url(../images/icon-author.svg);
    background-size: 15px;
    a {
      color: $black;
      text-decoration: none;
    }
  }
  &__location {
    @extend .events-list__event__date;
    background-image: url(../images/icon-location.svg);
    padding-bottom: 20px;
    border-bottom: 2px solid $black;
    margin-bottom: 40px;
  }
  &__share {
    background: url('../images/icon-share.svg') no-repeat right top;
    line-height: 18px;
    background-size: 14px;
    padding-right: 20px;
    font-weight: bold;
    text-align: right;
    cursor: pointer;
    position: relative;
    ul {
      top: 100%;
      left: -15px;
      position: absolute;
      text-align: left;
      padding: 15px;
      margin: 0px;
      list-style: none;
      background: $white;
      display: none;
      li {
        margin-bottom: 5px;
        a {
          color: $black;
          text-decoration: none;
        }
      }
    }
    &:hover {
      ul {
        display: block;
      }
    }
  }
  &__date {
    @extend .events-list__event__date;
    display: block;
    margin-bottom: 15px;
    &--time {
      background-image: url(../images/icon-clock.svg);
      background-size: 15px;
    }
  }
  &__thumb {
    margin-bottom: 39px;
    img {
      width: 100%;
      height: auto;
    }
    &__caption {
      display: block;
      margin: 0px;
      padding: 20px 0px 20px 00px;
      border-bottom: 2px solid $black;
      svg {
        position: relative;
        top: 1px;
        margin-right: 5px;
      }
    }
  }
  &__content {
    font-size: 18px;
    line-height: 1.78;
    padding: 0px 80px;
    margin-bottom: 70px;
    @include media-breakpoint-down(sm) {
      padding: 0px;
    }
    h2 {
      font-size: 24px;
      font-weight: bold;
      margin-top: 30px;
    }
    blockquote {
      background-color: $light;
      padding: 40px 80px 20px 80px;
      margin: 40px -80px;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.33;
      @include media-breakpoint-down(sm) {
        margin: 40px -15px;
        padding: 40px 15px;
        font-size: 22px;
      }
    }
  }
  &__tags {
    font-size: 16px;
    font-weight: bold;
    font-style: oblique;
    line-height: 1.5;
    color: $black;
    border-top: 2px solid $black;
    padding-top: 40px;
    a {
      color: $black;
      text-decoration: none;
    }
    svg {
      position: relative;
      top: 2px;
    }
  }

  //HOMEPAGE POSTS
  &--home {
    padding-right: 20px;
    @include media-breakpoint-down(sm) {
      padding-right: 0px;
      margin-bottom: 30px;
    }
    .post {
      &__title {
        font-size: 24px;
        margin-top: 10px;
        @include media-breakpoint-down(md) {
          font-size: 21px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 21px;
        }
      }
      &__tags {
        margin-top: 30px;
        padding-top: 18px;
        border-top: 2px solid $black;
      }
    }
  }
  //SINGLE POST
  &--single {
    .post {
      &__title {
        margin-bottom: 40px;
        @include media-breakpoint-down(sm) {
          font-size: 26px;
          margin-bottom: 20px;
        }
      }
      &__meta {
        @include media-breakpoint-down(sm) {
          flex-flow: column;
          alin-items: flex-start;
        }
      }
      &__date {
        @include media-breakpoint-down(sm) {
          margin-bottom: 10px;
        }
      }
      &__author {
        @include media-breakpoint-down(sm) {
          margin-left: 0px;
          margin-bottom: 10px;
        }
      }
      &__share {
        @include media-breakpoint-down(sm) {
          text-align: left;
          background-position: left center;
          padding-left: 20px;
          padding-right: 0px;
        }
      }
    }
  }

  //SINGLE EVENT
  &--event {
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
    .em-location-map-container {
      margin-bottom: 20px;
    }
    .post {
      &__title {
        font-size: 32px;
        margin-bottom: 40px;
        @include media-breakpoint-down(sm) {
          font-size: 26px;
        }
      }
      &__author {
        margin-left: 0px;
      }
      &__date {
        display: block;
        border-bottom: 2px solid $black;
        margin-bottom: 20px;
        padding-bottom: 20px;
        &--time {
          display: block;
        }
      }
      &__content {
        padding: 0px;
      }

    }
  }


  //POSTS LISTING (INDEX, SEARCH, ARCHIVE, ...)
  &--listing {
    margin-bottom: 45px;
    &:first-of-type {
      padding-top: 40px;
      border-top: 2px solid $black;
      margin-top: 50px;
    }
    .post {
      &__thumb {
        width: 100%;
        display: block;
        margin-bottom: 15px;
        img {
          width: 100%;
          height: auto;
        }
      }
      &__title {
        font-size: 24px;
        margin-top: 10px;
      }
      &__tags {
        display: inline-block;
        margin-top: 10px;
        padding-top: 0px;
        padding-bottom: 18px;
        border-top: 0px;
        border-bottom: 2px solid $black;

      }
    }
  }
}

