body {
  background-color: #fff;
  font-family: Helvetica;
  font-size: 16px;
}
.section-title {
  font-size: 48px;
  font-weight: bold;
  line-height: 0.83;
  color: $black;
  margin-bottom: 55px;
  text-transform: lowercase;
  @include media-breakpoint-down(md) {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.supertitle {
  background-color: $light;
  padding: 54px 0px;
  margin-bottom: 60px;
  .title-search {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.0;
    @extend .container;
  }
}

