.map {
  @include media-breakpoint-down(sm) {
    display: none;
  }
  svg {
    path {
      cursor: pointer;
      &:hover {
        fill: $yellow;
      }
    }
  }
}
body.distritos {
  padding: 0px;
}
.distritos {
  padding: 80px 0px 60px 0px;
  &__list {
    margin: 0px;
    padding: 0px;
    li {
      display: inline-block;
      list-style: none;
      width: 49%;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
      a {
        display: inline-block;
        line-height: 36px;
        padding: 0px 10px;
        font-size: 16px;
        color: $black;
        @include media-breakpoint-down(md) {
          padding: 0px;
        }
        &:hover, &.hover {
          background-color: $black;
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}
