.preheader {
  background-color: #fff;
  padding: 20px 0px;
  @include media-breakpoint-down(sm) {
    padding: 10px 0px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.0;
    color: $black;
    a {
      color: $black;
    }
    @include media-breakpoint-down(sm) {
      font-size: 14px;
      margin-bottom: 0px;
    }
  }
  &__logo {
    img {
      max-width: 128px;
      @include media-breakpoint-down(sm) {
        max-width: 80px;
      }
    }
  }
}

.header {
  padding: 50px 0px;
  &.color-1 {
    background-color: #4bb169;
  }
  &.color-2 {
    background-color: #1b9dd9;
  }
  &.color-3 {
    background-color: #e94655;
  }
  &.color-4 {
    background-color: #ffe406;
  }
  &__site-name {
    text-align: center;
    display: block;
    img {
      max-height: 150px;
    }
  }
}


.nav-primary {
  background-color: $black;
  .navbar-toggler-right {
    @include media-breakpoint-down(md) {
      right: 0px;
      top: 0px;
      padding: 0px;
      border: 0px;
      height: 60px;
      font-size: 30px;
      &:focus {
        outline: 0;
      }
    }
    .navbar-toggler-icon {
      @include media-breakpoint-down(md) {
        color: $white;
        width: auto;
        height: auto;
      }
    }

  }
  .follow {
    color: $white;
    text-transform: lowercase;
    font-weight: bold;
    svg {
      position: relative;
      top: 2px;
      margin-left: 10px;
      path {
        fill: $white;
      }
    }
  }

  .navbar {
    padding: 0px;
    height: 60px;
    .navbar-collapse {
      flex-basis: auto;
      height: 100%;
      @include media-breakpoint-down(md) {
        background-color: $black;
        height: auto;
        padding-bottom: 20px;
        position: absolute;
        top: 60px;
        left: 0px;
        right: 0px;
      }
    }
  }
  .navbar-nav {
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include media-breakpoint-down(sm) {
      height: auto;
      background-color: $black;
      padding: 15px 0px;
    }
    .menu-item {
      font-weight: bold;
      color: $white;
      margin-right: 20px;
      text-transform: lowercase;
      @include media-breakpoint-down(md) {
        margin-right: 10px;
      }
      @include media-breakpoint-down(sm) {
        margin-left: 30px;
        margin-bottom: 10px;
      }
      a {
        color: $white;
        &:after {
          content: '.';
        }
      }
    }
  }
}

.admin-bar .sticky-top {
  top: 32px;
}
