.introduccion {
  font-size: 20px;
  .section-title {
    text-align: center;
  }
  a {
    color: $black;
    text-decoration: underline;
    font-weight: bold;
  }
  li {
    list-style: square;
  }
}
